@font-face {
  font-family: "Gilroy";
  src: url("../fonts/static/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/static/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/static/Gilroy-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/static/Gilroy-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
